/* 设置背景 */
body {
    background-color: rgba(248, 255, 251, 0.853);
}

/* 设置导航栏 */
nav {
    background-color: rgb(36, 121, 56);
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav li {float: left;}
nav li a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color:rgb(57, 186, 87);
    color: black;
}

/* 设置标题样式*/
.title {
    background-image: url('../src/顶部背景.jpg');
    background-size: cover; /* 背景图片覆盖整个页面 */
    background-repeat: no-repeat; /* 背景图片不重复 */
    background-position: center; /* 背景图片居中对齐 */
}

/* 设置首页图片*/
.background-image {
    width: 100%;
    height:auto
}

/* 设置登录模块*/
body {
    font-family: Arial, sans-serif;
}
.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    align-self: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
.form-container.active {
    display: block;
}
.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.form-group label {
    width: 30%;
    text-align: right;
    padding-right: 10px;
    color: black;
}
.form-group input {
    width: 64%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(36, 121, 56);
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: rgb(51, 166, 78);
}
p {
    margin-top: 10px;
    text-align: center;
}